/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*

    1. Font Face
    2. General
    3. Utilities
    4. Header
    5. Page Content
    6. Footer
    7. Third Party Elements
    8. Media Queries

 */
/* $variable: #b4b4c4; */
/* ==========================================================================
   1. Font Face - Sets up the website fonts
   ========================================================================== */
/*

@font-face {
  font-family: 'FontFamilyName';
  src: url('../../fonts/fontFolder/fontfile.eot');
  src: url('../../fonts/fontFolder/fontfile.eot') format('embedded-opentype'),
       url('../../fonts/fontFolder/fontfile.woff2') format('woff2'),
       url('../../fonts/fontFolder/fontfile.woff') format('woff'),
       url('../../fonts/fontFolder/fontfile.ttf') format('truetype'),
       url('../../fonts/fontFolder/fontfile.svg#FontFamilyName') format('svg');
}

*/
/* ==========================================================================
   2. General - Setting up some base styles
   ========================================================================== */
html,
body {
  height: 100%;
  margin: 0; }


#wrapper {
  height: 100%;
  overflow: auto;}

h1, h2, h3,
h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin: 0; }

p, ul, ol {
  margin: 0;
  padding: 0; }

ol ol, ul ul,
ul ol, ol ul {
  margin: 0.4em 0; }

a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit; }

a[href], input[type='submit'], input[type='image'], label[for], select, button {
  cursor: pointer; }

input[type="text"], textarea {
  display: inline-block; }

.section {
  margin-top: 60px; }

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: black;
  color: white; }

/* ==========================================================================
   3. Utilities - These things get used a lot
   ========================================================================== */
.clear-fix:after {
  content: '';
  display: block;
  clear: both; }

tbody tr:nth-child(odd) {
  background-color: #ccc; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

.hide {
  display: none; }

.nopadding {
  padding: 0; }

.mobile,
.tablet {
  display: none; }

.nomobile,
.notablet {
  display: block; }

@media (max-width: 992px) {
  .tablet {
    display: block; }

  .notablet {
    display: none; } }
@media (max-width: 768px) {
  .mobile {
    display: block; }

  .nomobile {
    display: none; } }
.thumb .thumb-img {
  height: 100%;
  width: 100%;
  background-size: cover !important; }

.thumb img {
  display: none; }

/* ==========================================================================
   4. Header - The top of every page
   ========================================================================== */
/* MENU - TEMPLATE SHIT */
.navbar-brand a img,
.navbar-brand a svg {
  height: 60px;
  width: auto; }

.navbar-brand .mobile a {
  line-height: 50px; }

.navbar-collapse {
  float: right; }

.navbar-collapse li {
  float: left; }

.navbar-collapse a {
  display: block;
  padding: 0 20px;
  line-height: 60px; }

.primary-menu:after {
  content: '';
  display: block;
  clear: both; }

#menu {
  padding: 20px 0; }

/* MENU - CUSTOM */
#header {
  position: relative;
  z-index: 999; }

/* ==========================================================================
   5. Page Content - When you click on an individual page
   ========================================================================== */
/* SLIDER - TEMPLATE SHIT */
.slider-container {
  position: relative; }

.slider-container .cycle-slideshow {
  height: 600px;
  width: 100%;
  overflow: hidden; }

.slider-container .display-element {
  height: 100%;
  width: 100%;
  background-size: cover !important; }

.slider-container .display-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; }

.slider-container .display-container img {
  width: 100%;
  height: auto; }

.slider-container .display-next,
.slider-container .display-prev {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 999;
  font-size: 52px;
  color: white;
  cursor: pointer; }

.slider-container .display-next {
  right: 20px; }

.slider-container .display-prev {
  left: 20px; }

.slider-container .display-pager {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0; }

.slider-container .display-pager span {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
  background: black; }

.slider-container .display-pager span + span {
  margin-left: 5px; }

.slider-container .display-pager span.cycle-pager-active {
  cursor: default;
  opacity: .5; }

/* INSTAFEED - CUSTOM SHIT */
/* BLOG ROLL - TEMPLATE SHIT */
.blog-roll-container .thumb {
  height: 200px;
  width: 100%; }

.thumb a,
.thumb .thumb-img {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important; }

/* BLOG ROLL - CUSTOM SHIT */
.post-excerpt {
  height: 200px; }

/* PAGE & SINGLE - TEMPLATE SHIT */
.page-header {
  margin-bottom: 30px; }

.the-content p + p {
  margin-top: 15px; }

.page-container {
  padding: 30px 0; }

.the-categories li {
  display: inline-block; }

.the-categories li + li:before {
  content: ",";
  position: relative;
  display: inline-block;
  margin-right: 4px;
  left: -2px; }

.share-this li {
  display: inline-block; }

/* GALERIAS - TEMPLATE SHIT */
.galerias-content {
  margin-top: -30px; }

.galerias-element {
  margin-top: 30px; }

.galerias-element .thumb-img {
  display: block;
  width: 100%;
  height: 200px; }

/* CONTATO - TEMPLATE SHIT */
.contato-container {
  margin-top: -30px; }

.contato-container .lince-input {
  margin-top: 30px; }

.contato-container br {
  display: none; }

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  transition: 0.2s; }

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.1);
  border: none; }

input[type="submit"] {
  outline: none;
  cursor: pointer;
  border: none;
  background: #66cc33;
  color: white;
  padding: 10px; }

label.error {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 10px;
  color: red; }

.lince-input .label-file {
  background: #b4b4c4;
  padding: 10px;
  cursor: pointer;
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  text-align: center; }

input[type="text"].file-archive {
  width: 70%; }

.alertify-button {
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
  background: #66cc33 !important;
  text-shadow: none !important;
  margin-top: 20px; }

/*Contact Form 7 Fixes*/
.lince-input .wpcf7-form-control-wrap {
  display: block; }

/*Galeria Wordpress*/
p + .gallery,
ul + .gallery,
.gallery + p,
.gallery + ul,
.gallery + .gallery {
  margin-top: 30px; }

.gallery {
  margin: 0;
  top: -20px;
  position: relative;
  /*    padding: 30px 20px;
      background: rgba(0,0,0,20/100);*/ }

.gallery-item {
  display: inline-block;
  max-width: 33.33%;
  padding: 0 1.1400652% 2.2801304%;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
  padding: 0 1.1400652% 0;
  margin-top: 20px; }

.gallery-icon {
  height: 200px; }

/* ==========================================================================
   6. Footer - The bottom of every page
   ========================================================================== */
.r2-logo {
  height: 50px;
  width: auto;
  fill: black; }

/* ==========================================================================
   7. Third Party Elements - Embeds from other services
   ========================================================================== */
/* Wordpress Fixes with Wrapper */
body.admin-bar {
  padding-bottom: 32px !important; }

@media screen and (max-width: 782px) {
  body.admin-bar {
    padding-bottom: 46px !important; } }
/* Facebook Comments */
.facebook-cmt .fb-comments,
.facebook-cmt .fb-comments span,
.facebook-cmt .fb-comments iframe {
  width: 100% !important; }

/*Wordpress Default  Things*/
.gallery-columns-1 .gallery-item {
  max-width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-icon img {
  margin: 0 auto;
  width: 100%;
  height: auto; }

.gallery-caption {
  color: #686868;
  display: block;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
  line-height: 1.6153846154;
  padding-top: 0.5384615385em; }

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none; }

/* ==========================================================================
   8. Media Queries - 
   ========================================================================== */
@media (max-width: 992px) {
  /* PAGE & SINGLE - TEMPLATE SHIT */
  .post + .post {
    margin-top: 30px; }

  /*DISPLAY SHIT*/
  .tablet {
    display: block; }

  .slider-container .cycle-slideshow {
    height: auto; }

  .slider-container .display-container {
    display: block; }

  .slider-container .display-container .txt {
    position: absolute;
    top: 40%;
    z-index: 999;
    width: 100%;
    text-align: center;
    padding: 20px; }

  .slider-container .display-next,
  .slider-container .display-prev {
    display: none; } }
@media (max-width: 768px) {
  /* MENU - TEMPLATE SHIT */
  #menu {
    padding: 0; }

  .navbar-collapse li {
    float: none; }

  .navbar-collapse a {
    padding: 0;
    line-height: 45px; }

  /* Sub Menu Things */
  .navbar-collapse .sub-menu {
    max-height: 0px !important;
    padding: 0 0 0 20px;
    margin: 0;
    overflow: hidden;
    opacity: 0;
    transition: 1s ease; }

  .navbar-collapse .menu-item-has-children.opened .sub-menu {
    max-height: 200px !important;
    opacity: 1; }

  /* CONTATO - TEMPLATE SHIT */
  .label-file span {
    display: none; }

  /*GALLERY WP SHIT*/
  .gallery-item {
    width: 100%;
    max-width: 100% !important; } }

/*# sourceMappingURL=style.css.map */
