/*
Theme Name: Alfama WEB
Theme URI: https://alfamaweb.com.br.com.br/
Author: Eduardo Joseph
Author URI: https://alfamaweb.com.br/
Description: Site desenvolvido por Alfama Web
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: 
Text Domain: noneplate

*/

*{
    font-family: 'Montserrat', sans-serif !important;
}
.fab {
    font-family: "Font Awesome 5 Brands" !important;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free" !important;
}
/* MENU E DISPLAY */
img.logo-topo {
    margin: 5px 0;
}
.icon-redes-menu{
    width: 11px;
}
.navbar-collapse a{
    line-height: 35px !important;
} 
#display{
    margin-bottom: -330px;
}
header {
    background-color: #423E35;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
.social-menu-mobile .item-menu:hover {
    color: #F5C762 !important;
}
.item-menu {
    font-size: 14px;
    color: #fff !important;
    font-weight: 500;
}
.item-menu:hover {
    color: #F5C762 !important;
    transition: all 0.5s ease-out;
}
.btn-pedido-top-menu .item-menu:hover {
    color: #423E35 !important;
    transition: all 0.5s ease-out;
}
.social-top-menu{
    margin-right: 10px;
    font-size: 19px !important;
}
.btn-pedido-top-menu{
    background-color: #EEC86D;
    padding: 5px 20px;
    border-radius: 25px;
    box-shadow: 0px 7px 6px rgb(0 0 0 / 45%);
}
.btn-pedido-top-menu a{
    color: #423E35 !important;
    font-weight: 700;  
}
.btn-pedido-top-menu a:hover{
    color: #423E35;
}
.btn-pedido-top-menu:hover{
    transition: all 0.5s ease-out;
    background-color: #eeb742;
    font-weight: 700;   
}
.bg-display{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#display h3{
    color: #CEAA58;
    font-size: 26px;
    font-weight: 600;
    z-index: 1;
}
#display h2{
    font-size: 46px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
}
.pelicula-escura {
    background-color: #000;
    width: 100%;
    opacity: 0.4;
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    top: 0;
}
#display .owl-nav {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    top: -67vh;
    z-index: 3;
    font-size: 130px;
    font-weight: 200;
    color: #fff;
    flex-wrap: nowrap;
    align-content: center;
}
#display .owl-nav .owl-prev {
    position: relative;
    left: 70px;
}
#display .owl-nav .owl-next {
    position: relative;
    right: 70px;
}
#display button:hover {
    background-color: transparent;
}
#display button:focus {
    outline: none !important;
}
#display .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #e1be6c !important;
    border: solid 1px #e1be6c;
    width: 18px;
    transition: all 0.3s ease-out;
}
#display .owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: solid 1px #D6D6D6;
}
.owl-dots {
    position: relative;
    top: -300px;
}


/* SOBRE */
#sobre{
    position: relative;
    z-index: 70;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0 200px;
}
#sobre h1{
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}
#sobre p{
    font-size: 17px;
    color: #fff;
    font-weight: 200;
}

/* GALERIA */
#galeria{
    margin-top: -60px;
    margin-bottom: -300px;
}
.galeria-1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.galeria-2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.galeria-3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
.galeria-4{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
#galeria button:hover {
    background-color: transparent;
}
#galeria button:focus {
    outline: none !important;
}
#galeria .owl-nav {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    top: -67vh;
    z-index: 3;
    font-size: 130px;
    font-weight: 200;
    color: #fff;
    flex-wrap: nowrap;
    align-content: center;  
    pointer-events: none;
}
.owl-theme .owl-nav [class*=owl-]{
    pointer-events: all;

}
.hidden-mob{
    display: block;
}
.hidden-desk{
    display: none;
}


/* PRODUTOS */
#produtos .owl-dots{
    display: block !important;
}
#produtos{
    position: relative;
    z-index: 70;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0;
}
#produtos h4{
    color: #CEAA58;
    margin: 30px 0 20px;
    font-size: 24px;
    font-weight: 500;
}
#produtos h3{
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    margin-bottom: 40px;
}
#produtos h2{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}
#produtos p{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}
.produto{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 530px;
}
.moldura{
    position: absolute;
    top: 150px;
    left: 100px;
    width: 425px;
    z-index: 0;
}
.fundo-cinza{
    background-color: #4c463b;
}
.tabaco{
    position: absolute;
    top: 490px;
    right: 0;
    width: 275px;
    z-index: 10;

}
#produtos .owl-nav {
    position: absolute;
    top: 480px;
    left: -5px;
    z-index: 9999;
    font-size: 85px;
    color: #fff;
    font-weight: 200;
    margin: 0 !important;
}

#produtos .owl-nav .owl-prev {
    background-color: #594923;
    height: 50px;
    width: 50px;
    border-radius: 0;
}
#produtos .owl-nav .owl-prev span {
    position: relative;
    top: -51px;
    height: 50px;
    font-size: 65px;
}
#produtos .owl-nav .owl-next {
    background-color: #CEAA58;
    height: 50px;
    width: 50px;
    border-radius: 0;
}
#produtos .owl-nav .owl-next span{
    position: relative;
    top: -51px;
    height: 50px;
    font-size: 65px;
}
#produtos button:focus {
    outline: none !important; 
}
#produtos .owl-theme .owl-nav [class*=owl-]{
    margin: 0 !important;
}


/* DUVIDAS */
#duvidas {  
    margin-top: -120px;
    padding-top: 180px;
    background-repeat: no-repeat;
    background-size: cover;
}  
#duvidas h3 {  
    font-size: 24px;
    font-weight: 500;
    color: #CEAA58;
}  
#duvidas h2 {  
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}  
#duvidas h4 {  
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}  
#duvidas p {  
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    min-height: 55px;
}  
.duvidas {    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 530px;
}
.t-end{
    text-align: end;
}
.charuto-dicas{
    margin-left: -20px;
}
.altura-dica-mob{
    margin-top: 3rem;
}


/* CLUBE */
.clube{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 100;
    margin-top: -90px;
    padding-bottom: 60px;
}
.clube-caixa{
    position: absolute;
    left: 0;
    width: 625px;
    margin-top: -60px;
    z-index: 10;
}
.card-bonus{
    margin-top: 100px;
    background-color: #46423A;
    padding: 0 55px 30px !important;
    border-radius: 30px;
}
.font-11{
    font-size: 11px !important;
}
.logo-clube{
    margin: -30px 0 -50px -30px;
}
.card-bonus p{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
.card-bonus h2{
    color: #fff;
    font-size: 17px;
    font-weight: 200;
    text-align: end;
}
.card-bonus span{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    position: relative;
    top: -10px;
    left: 20px;
}
.card-bonus h3{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin: 25px 0 10px;
}
.card-bonus li {
    list-style-type: none;
    position: relative;
    /* left: -40px; */
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
.card-bonus li img{
    margin-right: 10px;
}
.d-flex-valor{
    display: flex !important;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.d-flex-valor a:hover{
    background-color: #eeb742;
    text-decoration: none;
    transition: all 0.5s ease-out;
}
.d-flex-valor a{
    background-color: #CEAA58;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 7px 10px;
    font-weight: 500;
    border-radius: 15px;
    font-size: 14px;
}
.d-flex-valor img{
    position: relative;
    top: -2px;
    left: 3px;
}
.m-left{
    margin-left: 20px;
}


/* VIDEO */
#video h2{
    font-size: 24px;
    color: #CEAA58;
    margin-bottom: 16px;
    font-weight: 400;
}
#video p{
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
#video {
    padding: 100px 0;
    background-color: #EFECE7;
    margin-top: -40px;
}
.fundo-video{
    background-color: #46423A;
    border-radius: 15px;
    height: 360px;
}
.pad-0{
    padding: 0 !important;
}
.box-text-video{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 15px 30px !important;
}
.btn-video{
    color: #fff !important;
    border: solid 2px #fff;
    font-weight: 500;
    padding: 6px 19px !important;
    font-size: 13px;
    border-radius: 25px;
}
.btn-video:hover{
    text-decoration: none;
    color: #fff;
    background-color: #eeb742;
    transition: all 0.5s ease-out;
}
.seta-video{
    position: relative;
    top: -2px;
    left: 5px;
}

/* INSTAGRAM */
#insta .owl-carousel .owl-item img {
    height: 33vh;
}


/* FOOTER */
footer{
    background-image: linear-gradient(#3D3A34, #4C483E);
    padding: 40px 0 0;
}
footer img{
    position: relative;
    left: -4px;
}
footer h3{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: .5rem;
}
footer h4{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1.0rem;
}
.descri-2-footer p{
    margin-bottom: .5rem;
}
.descri-2-footer{
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    margin-bottom: .5rem;
}
.descri-footer p{
    margin-bottom: .5rem;
}
.descri-footer{
    font-size: 13px;
    color: #fff;
    font-weight: 300;
    margin-bottom: .5rem;
}
footer ul{
    display: inline-flex;
    padding: 0;
    list-style-type: none;
}
footer li{
    margin-right: 15px;
    margin-bottom: .5rem;
}
.copy{
    font-size: 11px;
    color: #fff;
    font-weight: 300;
    padding-bottom: 20px;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
/* Modal */
.modal-open .modal{
    pointer-events: none;
}
.modal-dialog{
    top: 140px;
}
.modal-content {
    background-color: #423E35 !important;
    color: #fff;
}
.btn-nao-aviso {
    background-color: #d52626 !important;
    border: none !important;
}
.btn-aviso {
    background-color: #d8b563 !important;
    border: none !important;
}
.btn-aviso:hover {
    background-color: #ebb435;
}

/* Botões flutuantes */
.float{
    position: fixed;
    width: 56px;
    height: 56px;
    bottom: 15px;
    right: 40px;
    background-color: #75BD2D;
    color: #FFF !important;
    border-radius: 50px;
    text-align: center;
    font-size: 28px;
    z-index: 100;
  }
  
  .my-float{
    margin-top:14px;
  }

.float-2{
    position:fixed;
    width:60px;
    height:60px;
    bottom:80px;
    right:40px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .my-float-2{
    margin-top:16px;
  }




@media all and (max-width: 768px) {

    .clube-caixa {
        width: 235px;
    }
    .charuto-dicas {
        /* display: none; */
        position: absolute;
        width: 180px;
        bottom: -400px;
        left: 130px;
        z-index: 0;
        opacity: 0.1;
    }
    .tabaco {
        top: 620px;
        width: 125px;
    }
    #galeria {
        margin-bottom: -340px;
            margin-top: -50px;
    }
    .moldura {
        position: absolute;
        top: 152px;
        left: 4px;
        width: 367px;
        z-index: 0;
    }
    #insta .owl-carousel .owl-item img {
        height: 53vh;
    }
    .fundo-video {
        margin: 10px;
        margin: 0px !important;
        height: auto;
    }
    #produtos {
        padding: 170px 0;
    }
    #display .owl-nav .owl-prev{
        left: 0;
    }
    #display .owl-nav .owl-next {
        right: 0px;
    }
    #display h2 {
        text-align: center;
    }
    #duvidas {
        padding-bottom: 180px;
    }
    .flex-inli{
        display: inline-flex;
    }
    .mt-30{
        margin-top: 30px;        
        text-align: end;
    }
    .improviso1{
        text-align: end;
    }
    .card-bonus {
        margin: 0 10px 30px !important;
        padding: 0 25px 30px !important;
    }    
    .logo-clube {
        margin: 170px 0 -50px -30px;
    }
    footer {
        padding: 40px 0 30px;
        text-align: center;
    }
    .social-mobile-footer{
        justify-content: center;
        margin-bottom: 30px;
    }
    .social-menu-mobile{
        display: flex !important;
        margin: 20px 0 !important;
        flex-direction: row !important;
    }
    .social-menu-mobile .nav-item{
        margin-right: 10px;
    }
    button:focus{
        outline: none !important;
    }
    span.navbar-toggler-icon {
        color: #d0ae61;
    }
    .altura-dica-mob{
        margin-top: 0rem;
    }
    .galeria-1 {
        height: 300px;
    }
    #galeria .owl-nav {
        top: -40vh;
    }
    .card-bonus span {
        font-size: 32px;
    }
    .card-bonus h2 {
        margin-bottom: 30px;
    }
    .m-0-mob{
        margin: 0 !important;
    }
    #duvidas p {
        min-height: 105px;
        min-width: 140px;
    }
    .box-text-video {
        margin-top: 360px;
    }
    .hidden-mob{
        display: none;
    }
    #sobre{
        padding: 130px 0 480px !important;
    }
    .hidden-desk{
        display: block;
    }

}